<div class="articleCard">
    <img class="articleCard__image" [src]="article.imageUrl" >
    <div class="articleCard__textBlock">
        <div class="publishingDate">
            <img  class = "publishingDate__icon" src="../../../../assets/images/icons/calendar.svg">
            <p class = "publishingDate__date typography typography__14px">{{article.publishedAt | date: 'MMMM d'}}th, {{article.publishedAt | date: 'y'}} </p>
        </div>
        <div class="articleCard__title typography typography__24px" [innerHTML] = "article.title"></div>
        <div class="articleCard__description typography typography__16px" [innerHTML] = "article.summary"></div>
        <a class = "articleCard__articleLink" routerLink = "/article/{{article.id}}">
            <p class = "typography typography__16px typography__bold">Read more</p>
            <mat-icon class = "arrow-icon">east</mat-icon>
        </a>
    </div> 
</div>
